* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: Bahnschrift, sans-serif, sans-serif;
}

body {
    width: 100%;
    /*background-color: black;*/
}

#container{
    width: 90%;
    margin: auto;
}

header, nav{
    height: 10em;
}

a{
    text-decoration: none;
}

#logo, #maker, .menu{
    display: inline-block;
}

#logo{
    margin: 1em 2em 0 2em;
    width: 5em;
    height: 5em;
}

#maker{
    font-size: 4em;
}

.menu{
    width: 20%;
    height: 10rem;
    padding-left: 1em;
    padding-top: 3.5rem;
    border: solid 2px #008080;
    font-size: 2rem;
    margin: 0 -2px 0 -2px;
}

nav .menu:nth-child(1){
    margin: 0 -2px 0 3px;
}

#definition{
    font-size: 1.4em;
    padding: 4em;
}

#handMade, #mix, #numérical, #fablab{
    display: inline-block;
    width: 24%;
}

.craft{
    background-color: white;
    font-size: 1.4em;
}