* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    background-color: #314b58;
    background-image: url("/img/pngaaa-1.png");
    background-repeat: no-repeat;
    background-size: cover;
}

html {
    font-family:Bahnschrift, sans-serif;
    color: #0a0a7e;
}

#container{
    width: 90%;
    margin: auto;
}

header {
    background-color: white;
    box-shadow: 5px 5px 3px 0 #a9a9a9;
    margin: 1vh;
    padding: 1vh;
}

#logo {
    width: 4vw;
}

#title, h3 {
    color: #0a0a7e;
    align-self: center;
}

form, #frameForm{
    padding: 1.6vh 3.2vw;
}

#frameForm div {
    margin: 1vh;
}

nav, #headband, #operation {
    display: flex;
    justify-content: space-around;
}

.menu, label {
    color: #0a0a7e;
}

a {
    text-decoration-line: none;
}

nav {
    border-top: 1px solid #0058a7;
    padding-top: 0.2vh;
    flex-wrap: wrap;
}

form {
    background-color: #314b589c;
    margin: 1vw;
}

input, select, label {
    margin: 0.5vh 0;
    padding: 0.5vh;
}


#half{
    width: 40%;
    height: 5vh;
    margin-top: 2vh;
}

h6{
    background-color: cornflowerblue;
    min-width: 18vw;
    text-align: center;
}

main, #frameForm, .picture {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}

main{
    align-items: center;
}

.frameText {
    margin: 4vh 0;
    padding: 3vh;
    background-color: white;
}

.picture {
    align-items: center;
}

#frameForm {
    align-items: flex-end;
}


.text {
    margin: 1vh auto;
}

/* in Galery */
#mosaic, .square, .description {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#mosaic div {
    margin: 1vh 1vw;
}

.picture{
    max-width: 20vw;
    max-height: 20vh;
    border: 1px black solid;
}

/* in Project */
.square {
    margin-top: 5vh;
    border: 1px solid black;
}

.description {
    flex-direction: column;
    width: 50%;
}

/* on admin mod */
ul {
    list-style-type: none;
    width: 100%;
    display: flex;
    padding: 1vw;
}

li{
    margin: 2px;
    padding-top: 0.8vh;
    padding-bottom: 0.8vh;
    border: 1px solid black;
    background: darkgrey;
    text-align: center;
}

#first {
    margin-top: 2px;
    justify-content: space-evenly;
}

/* test */
#others {
    display: none;
}

#first li{
    width: 33%;
}

#second li {
    width: 14%;
}

#operation {
    display: none;
    width: 80%;
}

#operation a {
    width: 20%;
    border: 1px solid black;
    background: darkgrey;
    text-align: center;
}

.part {
    padding: 0 1vw;
}

.operationForm, .part {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.operationForm {
    align-items: center;
}

#ref{
    display: flex;
    flex-direction: row;
}

#target {
    color: red;
    border: red solid 2px;
}

/*   responsive   */
@media screen and (max-width: 800px){
    #second {
        flex-wrap: wrap;
        justify-content: center;
    }

    #second li {
        min-width: 122px;
    }
}
