* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    background-image: url("/img/fond-clair.png");
    background-size: cover;
}

html {
    font-family:Bahnschrift, sans-serif;
    color: black;
}

main {
    padding: 0.8vh;
}

a {
    text-decoration-line: none;
    color: #6c6cb6;
}

#row, .column, nav, .frame, .mosaic, #mosaic, .frameImg, .mail{
    display: flex;
}

nav {
    align-items: center;
    font-size: 0.8rem;
}

.column {
    flex-direction: column;
}

#row {
    padding-top: 1vh;
    justify-content: space-between;
}

nav a {
    width: 15%;
    padding: 2vh 0;
    background-color: black;
    color: white;
}

#item, nav {
    text-align: center;
    justify-content: flex-end;
}

.frame, nav a{
    border: 1px solid #6c6cb6;
}

.frame{
    background-color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.side {
    width: 10%;
}

.side div {
    min-height: 15vh;
}

#article {
    width: 79%;
}

.third {
    width: 30%;
    text-align: center;
}

.line {
    min-height: 10vh;
}

#mosaic{
    flex-wrap: wrap;
    justify-content: space-around;
}

.frameImg {
    align-items: flex-end;
    margin: 1vh 1vw;
}

.mosaic {
    width: 22vw;
    padding: 1vh 1vw;
}

.frameText {
    padding-top: 1vh;
    text-align: center;
    min-height: 10vh;
}

.mail {
    justify-content: center;
}

.half {
    width: 50%;
    justify-content: center;
}