* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    background-color: grey;
}

html {
    font-family:Bahnschrift, sans-serif;
}

#container{
    width: 90%;
    margin: auto;
}

header {
    background-color: white;
    box-shadow: 5px 5px 3px 0 #a9a9a9;
    margin-bottom: 1vh;
    padding: 1vh;
}

header a {
    width : 50%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: blue;
}

nav, #title {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu {
    color: #a9a9a9;
}

a {
    text-decoration-line: none;
}

#frame {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
